.search{
    width: 150px;
    background-color: white;
    border: 2px solid;
    border-color: teal;
    border-radius: 25px;
    color: teal;
    padding: 5px;
    margin: 10px;
}

.add{
    width: 35px;
    background-color: lightseagreen;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
}

.account{
    width: 200px;
    background-color: dodgerblue;
    border: 3px solid;
    border-color: black;
    box-shadow: 3px 10px black;
    color: white;
    padding: 10px;
    margin: 10px;
}